@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Blaka+Hollow&family=Itim&family=Lilita+One&family=Nunito+Sans:wght@200&family=Roboto+Slab:wght@100&family=Sofia+Sans+Extra+Condensed&display=swap');


/* .slogan {
  position: absolute;
  
  text-align: center;
  margin-left: 40%;
  margin-bottom: 60%;
  margin-top: 9%;

}

.slogan h1 {
  text-align: center;
  color: #0a0202;
  text-transform: uppercase;
  font-size: 100px;
  font-family: 'Lilita One', cursive;
  

}

.slogan span{
  text-align: center;
  color: #600606;
  text-transform: uppercase;
  font-size: 100px;
  font-family: 'Lilita One', cursive;
  
}



a.button1 {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #350303;
  margin:0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto' , sans-serif;
  font-weight: 500;
  color: #430606;
  text-align: center;
  transition: all 0.2s;
  font-size: 40px;
}
a.button1:hover {
  color: #e9c85d;
  background-color: #430606;
} */





/* * {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Itim", cursive;
  box-sizing: border-box;
  
  
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-left: 10%;
  padding-right: 10%;
}
.nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
}

.nav ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
}

.nav ul li a:hover {
  color: rgb(135, 25, 25);
  transition: 0.3s;
}

span{
  color: brown;
  font-size: 25px;
}

.card {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 425px;
  background-color: #504242;
  border-radius: 10px;
  box-shadow: 0 7px 8px 0 rgb(33, 31, 31);
  padding: 25px;
}


 */

.input {
	display: flex;
	flex-direction: column-reverse;
	position: relative;
	padding-top: 25px;
    
    
}

.input-field{
  border-bottom: 2px solid rgba(#999, 0.25);
  font-size: 18px;
  padding: 7px;
  border-radius: 3px;

}

.form {
  height: 18.75em;
  width: 25em;
  background: #766c6c;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-transform: uppercase;
  font-family: "Bebas Neue", Arial;
  color: #1c1010;
}

.form > div {
  height: 6.25em;
  width: 100%;
}

.username {
  background-color: #4daf7c;
}

.username::after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-style: solid;
  border-width: 0.5em 0.469em 0 0.469em;
  border-color: #4daf7c transparent transparent transparent;
  top: 6.25em;
  left: 50%;
  margin-left: -0.496em;
}

.password {
  background-color: #404241;
}

.password::after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-style: solid;
  border-width: 0.5em 0.469em 0 0.469em;
  border-color: #404241 transparent transparent transparent;
  top: 12.5em;
  left: 50%;
  margin-left: -0.496em;
}

.login {
  background-color: #e9c85d;
  display: table;
}

.login span {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size:3em;
  cursor: pointer;
}

input {
  height: 1.25em;
  width: 8.125em;
  font-size: 2em;
  text-align:center;
  border: 0;
  outline: 0;
  color: #e84c4c;
  background: transparent;
  border:0.033em #c72e2e solid;
  margin-left: 2.1875em;
  margin-top: 1em;
  font-family: "Bebas Neue", Arial;
}

::placeholder {
  color: #d21f1f;
}

::-moz-placeholder {
  color: #701a1a;
}

:-ms-input-placeholder {
  color: #362525;
}

::-webkit-input-placeholder {
  color: #643131;
}

.wrapper {
  width:1170px;
  margin:auto;
}


:root {
	--background: rgb(134, 0, 13);
	--primary: #a31127f8;
	--secondary: #820909;
	--third: #8e0404;
}

* {
  box-sizing: border-box;
}


.container {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content:flex-start;
}

.shape {
 	background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
  animation: morph 8s ease-in-out infinite;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  height: 400px;
  transition: all 1s ease-in-out;
  width: 400px;
  z-index: 5;
  margin-bottom: 10%;
}

@keyframes morph {
  0% {
			border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
			background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
	} 
	
	50% {
			border-radius:  30% 60% 70% 40% / 50% 60% 30% 60%;
			background: linear-gradient(45deg, var(--third) 0%, var(--secondary) 100%);
	}
  
	100% {
		border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
		background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
	} 
}
