* {	font-family: 'Merriweather', serif;}
textarea:focus,input:focus {	outline: none;}
.signin-signup {	margin: 0;	padding: 0;	display: flex;	justify-content: center;	align-items: center;	min-height: 100vh;	font-family: 'Jost', sans-serif;
    	background: linear-gradient(to bottom, #f7f3f3, #ffffff, #364a58 );}
.signin-signup h1 {	text-align: center;}
.signin-signup .sinlog {	width: 350px;	height: 450px;	background: #3c6064d2;	overflow: hidden;	border-radius: 10px;	box-shadow: 5px 20px 50px #000;}
.signin-signup a {	color: #fff;}
.signin-signup .signup {	position: relative;	width: 100%;	height: 100%;}
.signin-signup .login {	position: relative;	width: 100%;	height: 100%;}
.signin-signup label {	color: #fff;	font-size: 1em;	justify-content: center;	display: flex;	margin: 31px;	font-weight: bold;	cursor: pointer;	transition: .2s ease-in-out;}
.signin-signup input {	width: 60%;	height: 20px;	background: #E0DEDE;	justify-content: center;	display: flex;	margin: 20px auto;	padding: 10px;	border: none;	outline: none;	border-radius: 10px;}
.signin-signup button {	width: 60%;	height: 40px;	margin: 10px auto;	justify-content: center;	display: block;	color: #fff;	background: #364a58;	font-size: 1em;	font-weight: bold;	margin-top: 20px;	outline: none;	border: none;	border-radius: 17px;	transition: .2s ease-in;	cursor: pointer;}
.signin-signup button:hover {	background: #3c6064;}
.signin-signup .h1 {	color: white;}
.signin-signup input {	width: 60%;	height: 20px;	background: #E0DEDE;	justify-content: center;	display: flex;	margin: 20px auto;	padding: 10px;	border: none;	outline: none;	border-radius: 10px;}
.signin-signup button {	width: 60%;	height: 40px;	margin: 10px auto;	justify-content: center;	display: block;	color: #fff;	background: #364a58;	font-size: 1em;	font-weight: bold;	margin-top: 20px;	outline: none;	border: none;	border-radius: 17px;	transition: .2s ease-in;	cursor: pointer;}
.signin-signup button:hover {	background: #364a58;}
.signin-signup .cont {	margin-top: 50px;	margin-left: 500px;	height: 700px;	width: 500px;	background: #1A2547;	border-radius: 10px;	display: flex;	flex-direction: column;	justify-content: center;}
.signin-signup .im {	width: 150px;	height: 150px;	border-radius: 50%;	object-fit: cover;	object-position: center;}
.signin-signup .text {	font-size: 23px;	letter-spacing: 0.1em;	font-weight: 500;	color: white;}