.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
  }
  .form {
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 34.2%;
    max-width: 500px;
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: -159%;
    margin-left: 18%;
  }
  
  .label {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #303030;
    text-align: left;
  }
  
  .input {
    width: 100%;
    height: 10%;
    padding: 1rem;
    margin-bottom: 5rem;
    border-radius: 10px;
    border: none;
    background-color: white;
    margin-top: 5%;
    font-size: 1.2rem;
    color: #303030;
  }
  
  .buttonn {
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
    border: none;
    background-color: #000000;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .buttonn:hover {
    background-color: #ffffff;
    color: #000000;
  }
  