.page {
  background-color: #F8F8F8;
  max-width: 100%;
}

.bgimg {
  max-height: 220px;
  width: 100%;
  
  background-repeat: no-repeat;
  background-size: cover;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
   
}

.mari{
 position: absolute;
 margin-left: 94%;
 margin-top: 229px;
 display: inline-block; 
   
  color: #000;
  font-size: 20px; 
  text-decoration: none; 
  transition: color 0.2s;
}


.profile-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 30px;
  border: 7px solid #F8F8F8; 
  ;
  
}
.profpos{
  position: absolute;
  margin-top: -100px;
  margin-left: 10px;
}

.uploadimg{
  margin-top: 100px;
}


.profile-details {
 margin-left: 10px;
  
  
  margin-right: 5px;
  
}

.bigone{
  
  margin-bottom: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 5px #808080;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 1rem;
}

.profile-email,
.profile-name,
.profile-number {
  align-items: center;
  font-size: 24px;
  margin-bottom: 10px;
}

.editbutton {
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  
}

.static {
  text-align: center;
  font-size: 20px;
  
}
.posts{
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 5px #808080;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 1rem;
}

