.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 100px;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  max-width: 600px;
  width: 100%;
}

.profile-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 5px solid #fcbf49;
}

.profile-email,
.profile-name,
.profile-last,
.profile-number {
  font-size: 18px;
  margin: 10px 0;
  color: #333;
}

.editbutton {
  background-color: #fcbf49;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
}

.editbutton:hover {
  background-color: #fca311;
}

/* Styling for the update info form */
.update-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.update-form label {
  font-size: 16px;
  margin-bottom: 10px;
  color: #333;
}

.update-form input[type="text"],
.update-form input[type="email"],
.update-form input[type="tel"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.update-form button {
  background-color: #fcbf49;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
}

.update-form button:hover {
  background-color: #fca311;
}
