.MuiButton-containedPrimary {
    color: #fff;
    background-color: #fd0000;
    margin-top: 67px;
}
.count{
    
        color: #fff;
        background-color: #fd0000;
        margin-top: 67px;
    }
    .MuiButton-containedPrimary {
        color: #fff;
        background-color: #fd0000;
        margin-top: 67px;
    }
    .count{
        
            color: #fff;
            background-color: #fd0000;
            margin-top: 67px;
        }
        .MuiButton-containedPrimary {
          color: #fff;
          background-color: #fd0000;
          margin-top: 67px;
      }
      .count{
          
              color: #fff;
              background-color: #fd0000;
              margin-top: 67px;
          }
          .MuiButton-containedPrimary {
            color: #fff;
            background-color: #fd0000;
            margin-top: 67px;
        }
        .count{
            
                color: #fff;
                background-color: #fd0000;
                margin-top: 67px;
            }