.bodey {
    display: flex;
    flex-direction: column;
     justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
   
  }
  .block_container {
    display: flex;
  justify-content: center;
   align-items: center;
   flex-direction: ROW;
   gap:10px

   }

  .container_bid_payment{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap:10px
  }
  /* .car-image {
    width: 100%;
    height: 400px;
    margin-bottom: 20px;
    overflow: hidden;
  } */
  
  .car-image img {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px 5px 0px 0px;
    height: 200px;
    width: 250px;
    display: flex;
  }
  
  .chat-room-container {
    /* margin-left: 100%; */
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }
  
  .chat-room {
    width: 300px;
    height: 400px;
    background-color: #fff;
    border: 1px solid #000000;
    padding: 20px;
  }
  
  .bid {
    width: 300px;
    margin-right: 20px;
  }
  
  .payment {
    width: 300px;
  }
  
  @media (max-width: 768px) {
    .bodey {
      flex-direction: column;
    }
  

  
    .chat-room-container {
      width: 100%;
      justify-content: center;
      margin-top: 20px;
    }
  
    .chat-room {
      margin: 0;
    }
  
    .bid,
    .payment {
      width: 100%;
      margin-right: 0;
    }
  }
  .imchat-flex{
    display: flex;
  }

  
  /* .block {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
  } */
  
 

  .car-image:hover img {
    transform: scale(1.4);
    transition: transform 0.3s ease-in-out;
    z-index: 1;
  }
  .block_bid_container{
    display: grid;
    /* background-color: blue; */
    grid-template-columns: 1fr 1fr   ;
  }
.table-container {
  display: flex;
  justify-content: center;
   align-items: center;
   flex-direction: column;
   gap:30px
}

.responsive-table {
  margin-top: 10%;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-left: -3%;
}

.table-header {
  background-color: #222;
  color: #fff;
  text-align: left;
}

.col {
  padding: 16px;
  border: 1px solid #ddd;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6 {
  text-align: center;
}

.col-1 {
  width: 15%;
}

.col-2 {
  width: 20%;
}

.col-3 {
  width: 15%;
}

.col-4 {
  width: 15%;
}

.col-5 {
  width: 25%;
}

.col-6 {
  width: 10%;
}

.table-row:hover {
  background-color: #f5f5f5;
}

@media screen and (max-width: 767px) {
  .col {
    padding: 10px;
  }

  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6 {
    display: block;
    width: 100%;
    text-align: center;
  }

  .table-header {
    display: none;
  }

  .table-row {
    border: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    overflow: hidden;
    transition: all 0.3s ease;
  }
}

.chatdiv{
  margin-top: 0%
}