/* body{
  margin-top: -100px;
  background-image: url(https://cdn.dribbble.com/userupload/3277623/file/original-d12c1f6e8e01fbb64f88d6050099c5f0.png?compress=1&resize=2513x1566);
  background-size: cover;
} */
.post-item {
    width: 590px;
    min-height: 250px;
    margin: auto;
    margin-top: 10px;
    border: 1px solid #87bba254;
    background-image: linear-gradient(144deg,#ffffff31, #ffffff33 50%,#ffffff2c);
    border-radius: 4px;
    padding: 20px 60px;
    box-shadow: 0 0 1em #80808066;
  }
  h1 {
    font-family: 'Merriweather', serif; text-align: center;color: rgb(10, 4, 87);    text-align: center;
    margin-top: 29px;
  }
  .inputs {
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: black;
    background-color: #f2f2f240;
    transition: box-shadow 0.2s ease-in-out;
  }
  
  .inputs:focus {
    outline: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }
  textarea {
    padding: 10px;
    font-size: 16px;
    line-height: 1.5;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f240;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    resize: vertical;
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
  }
  
  textarea:focus {
    outline: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    background-color: #ffffff46;
  }
 


.button-55 {
  align-self: center;
  background-color: #f2f2f240;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #f2f2f240;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-55:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}
select{
  padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f2f2f240;
    transition: box-shadow 0.2s ease-in-out;
}
option{

 padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f2f2f240;
    transition: box-shadow 0.2s ease-in-out;
}