.post-item{width: 590px;
min-height: 250px;
margin: auto;
margin-top: 10px;
background-color: #090909;
border-radius: 4px;
padding: 20px 60px;
box-shadow: 0 0 1em #ff730098;}


.inputs{
    width: 100%;
    border-radius: 1rem;
    border: 0.2rem solid rgb(72, 68, 68);
    background: none;
    font-size: 1.5rem;
    text-transform: none;
    color: #aaa;
    margin-bottom: 1rem;
    padding: 1.2rem 1.4rem;
}
.button-5{

}